*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
.DS_Store
Thumbs.db

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode/*
!/.vscode/extensions.json
/coverage
/dist
/node_modules
/platforms
/plugins
/www

/android
/ios

